@import "root.css";
@import "header.css";
@import "footer.css";


/*-----------------------------------*\
  #CART
\*-----------------------------------*/
.container {
    max-width: 1067px;
    margin: auto;
    width: 100%;
}

img {
    width: 100%;
}


/*-----------------------------------*\
  #LIST PRODUCTS
\*-----------------------------------*/

.shop {
    border: 0px solid;
    padding: 2rem;
    margin-top: 8rem;
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 2rem;
    margin-top: 5rem;
}


.item {
   
    padding: 3rem 2rem;
    background-color: var(--bg-color);
    position: relative;
    box-shadow: var(--box-shadow-1);
    text-align: center;
    transition: .5s ease-in-out;
    border-radius: 8px;
}

.item:hover {
    padding: 16px;
    border: 2px solid var(--blue-color);
}

.item .product-img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-bottom: .5rem;
}

.item .product-title {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: .5rem;
}

.item .product-price {
    font-weight: 500;
    font-size: 1.5rem;
}

.item .btn_product {
    border: .2rem solid var(--blue-color);
    margin-top: 1rem;
    display: inline-block;
    padding: .5rem 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: .5rem;
    color: var(--blue-color);
}


.btn_product:hover {
    background-color: var(--blue-color);
    color: var(--bg-color);
}
