@import "root.css";
@import "header.css";
@import "footer.css";



.container {
    max-width: 1067px;
    margin: auto;
    width: 100%;
}

img {
    width: 100%;
}

.hide {
    display: none;
}

/*-----------------------------------*\
  #LIST PRODUCTS
\*-----------------------------------*/

.shop {
    border: 0px solid;
    padding: 2rem;
    margin-top: 8rem;
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 2rem;
    margin-top: 5rem;
}



.item {
   
    padding: 3rem 2rem;
    background-color: var(--bg-color);
    position: relative;
    box-shadow: var(--box-shadow-1);
    text-align: center;
    transition: .5s ease-in-out;
    border-radius: 8px;
}

.item:hover {
    padding: 16px;
    border: 2px solid var(--blue-color);
}

.item .product-img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-bottom: .5rem;
}

.item .product-title {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: .5rem;
}

.item .product-price {
    font-weight: 500;
    font-size: 1.5rem;
}



.editar__container{
	gap: 3.4rem;
    display: inline-flex;
    justify-content: space-evenly;
	margin-top: 2rem;
    border-radius: .5rem;
    color: var(--blue-color);

}

.editar__container .editaricono {
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border: 1px solid var(--blue-color);
    border-radius: 50%;
    font-size: 2rem;
    margin-left: 0.5rem;
    text-align: center;
    cursor: pointer;
    color: var(--blue-color);
}

.editar__container .eliminar__icono {
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border: 1px solid var(--blue-color);
    border-radius: 50%;
    font-size: 2rem;
    margin-left: 0.5rem;
    text-align: center;
    background-color: var(--bg-color);
    cursor: pointer;
    color: var(--blue-color);
}

.editar__container .editaricono:hover {
    color: var(--bg-color);
    border: 0.1rem solid var(--bg-color);
    background-color: var(--blue-color);
}

.editar__container .eliminar__icono:hover{
    color: var(--bg-color);
    border: 0.1rem solid var(--bg-color);
    background-color: var(--blue-color);
}

